# Server
PORT=3000
# Database (MySQL)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=taskflow
DB_USER=root
DB_PASSWORD=root
JSONWEBTOKEN_SECRET=Z1g2mk3bl12kjhgoifaiubdf98aglpk1
BASE_URL=http://localhost:3001
FRONTEND_API_URL=http://localhost:5173
NODE_ENV=development
CSRF_SECRET=