@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";

:root{
  --primary: #FDF7FF;
  --secondary: #4F378A;
}

body{
  background-color: var(--primary);
}